<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Stack Compose</title>
  </head>
  <body>
        <h1>Stack Compose</h1>
        <div id="app" class="container-fluid">
            <div class="row">
                <div v-for="group in groups">
                    <div class="col-sm">
                        <h2>{{ group.name }}</h2>
                        <div v-for="component in group.components">
                            <input type=checkbox v-on:change="update" v-model="component.checked" :id="component.name">
                            <span>{{ component.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>docker-compose.yml:</div>
                <pre style="background-color: lightgray">{{ dockercompose }}</pre>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>

  </body>
</html>